<div class="list-group list-group-flush bg-info min-vh-100">
    <a href="{% url 'admin_transport_list' %}" class="list-group-item list-group-item-action bg-info text-dark border-bottom border-dark {% if request.resolver_match.url_name == 'admin_transport_list' %}fw-bold{% endif %}">
        Транспорты
    </a>
    <a href="{% url 'admin_type_list' %}" class="list-group-item list-group-item-action bg-info text-dark border-bottom border-dark {% if request.resolver_match.url_name == 'admin_type_list' %}fw-bold{% endif %}">
        Типы транспорта
    </a>
    
    <!-- Новые пункты -->
    <a href="{% url 'admin_user_list' %}" class="list-group-item list-group-item-action bg-info text-dark border-bottom border-dark {% if request.resolver_match.url_name == 'admin_user_list' %}fw-bold{% endif %}">
        Пользователи
    </a>
    <a href="{% url 'admin_cargo_list' %}" class="list-group-item list-group-item-action bg-info text-dark border-bottom border-dark {% if request.resolver_match.url_name == 'admin_cargo_list' %}fw-bold{% endif %}">
        Грузы
    </a>
    <a href="{% url 'admin_role_list' %}" class="list-group-item list-group-item-action bg-info text-dark border-bottom border-dark {% if request.resolver_match.url_name == 'admin_role_list' %}fw-bold{% endif %}">
        Роли
    </a>
    <div class="flex-grow-1 bg-info"></div>
</div>